/*--------------------------- FONTS --------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap&v=1');

/*--------------------------- TailwindConfig --------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
  --color-bg-primary: #232325;
  --color-text-primary: #F2F2F2;
  --color-text-secondary: #C4A567;
  --color-bg-secondary: #323232;
}

.light{
  --color-bg-primary: #F2F2F2;
  --color-text-primary: #232325;
  --color-text-secondary: #323232;
  --color-bg-secondary: #E9E9E9;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.font-q{
  font-family: 'Qwigley', cursive;
}
